.hero-cont{
    /* background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 8%, #FF2525 36%); */
    /* background-image: url('https://image.slidesdocs.com/responsive-images/slides/23-blue-resume-personal-cv-creative-dynamic-powerpoint-background_b932257eff__960_540.jpg'); */
    /* background-image: url('https://simplified.com/siteimages/background-remover/cv-colour.png');
    background-repeat: no-repeat;
    background-size: cover; */
    height: 500px;
    background-color: #eff2f9;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
    margin-bottom: 70px;
  flex-wrap: wrap;
 row-gap: 40px;
}

.part-one{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 18px;
}

.abs-one{
    font-size: xxx-large;
}

.hero-image{
    width: 480px;
    height: 300px;
}

.hero-text-cont{
    width: 400px;
    height: 300px;
    text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.step-number{
    width: 40px;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: rgb(236, 95, 95);
     border-radius: 50%;
    color: white;
}

.create-cv-button{
    width: 140px;
    height: 40px;
    /* background-color: rgb(207, 23, 23); */
    background-color: rgb(204, 67, 67);
    border: 0;
    color: white;
    transition: border-radius 0.3s ease-in-out;
}

.create-cv-button:hover{
    cursor: pointer;
    border-radius: 20px;
}

.whats-good-cont{
    background-color: #eff2f9;
    height: 740px;
    display: flex;
    row-gap: 22px;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}